/*Header style*/
body{
    margin:0px;
    font-family: "aria";
}
/*navbar*/
.navbar{
    height:50px;
    width:100%;
    background-color: gainsboro;
    position: relative;
    overflow: hidden;
}



/*Buttons*/

.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*icon*/
div .fa-user{
    float:right;
    color:black;
    height:50vh;
   
}

/*content*/

#greeting{
    margin:100px;
}

/*front-container*/







section .students-container{
        margin: 150px;
        width: 15%;
        height: 100px;
        border: 2px solid black ;
        text-align: center;
        padding-top: 20px;
      }

section .teachers-container{
        margin: 150px;
        width: 15%;
        height: 100px;
        border: 2px solid black ;
        text-align: center;
        padding-top: 20px;
      }
section .classes-container{
        margin: 150px;
        width: 15%;
        height: 100px;
        border: 2px solid black ;
        text-align: center;
        padding-top: 20px;
      }    