#footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Damit das Div die volle Breite einnimmt */
    background-color:darkgray; /* Hintergrundfarbe anpassen */
    color: #fff; /* Textfarbe anpassen */
    padding: 10px; /* Optional: Innenabstand für den Inhalt des Divs */
  }


.primary{
    text-decoration: none;
}
.bi{
    display:flex;
    justify-content:end;
    
}

/*average grade*/ 

#average-grade{
    text-decoration: none;
}


/* add Students content.js*/
#add-students-btn{
    margin-top: 10vh;
}